.vercel
*.log
*.pyc
__pycache__

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# large files
detectron2/model_0002799.pth
detectron2/model_final_b275ba.pkl
groundingdino/groundingdino_swint_ogc.pth